{% extends "./base.html" %}

{% block title %}about etr{% endblock %}

{% block content %}
<h1>External Testing Result</h1>
<div>
    <a href="http://confluence.newit.gsu.by/display/ETR/Home">ссылка на документацию.</a>
</div>
<h2>история изменений</h2>
<table class="table table-striped table-hover">
    <tr>
        <th>версия</th>
        <th>дата</th>
        <th>описание релиза</th>
    </tr>

    <tr>
        <th>v1.5.0</th>
        <td>24.03.2024</td>
        <td>
            <ul>
                <li>добавлены новые параметры для получения задач</li>
                <li>исправлены ошибки</li>
            </ul>
        </td>
    </tr>

    <tr>
        <th>v1.4.1</th>
        <td>04.03.2024</td>
        <td>
            <ul>
                <li>исправлена ошибка с синхронизацией пользователей</li>
                <li>исправлена ошибка с обновлением контестов</li>
            </ul>
        </td>
    </tr>

    <tr>
        <th>v1.4.0</th>
        <td>28.02.2024</td>
        <td>
            <ul>
                <li>task/ETR-56 - автоматическое обновление посылок</li>
                <li>добавлена кнопка обновления тегов</li>
                <li>добавлена кнопка обновления всех посылок у всех учеников</li>
                <li>исправлены ошибки</li>
            </ul>
        </td>
    </tr>

    <tr>
        <th>v1.3.2</th>
        <td>25.02.2024</td>
        <td>
            добавлено поле ввода для обновления посылок ученика.
        </td>
    </tr>

    <tr>
        <th>v1.3.1</th>
        <td>25.02.2024</td>
        <td>
            Исправлена ошибка с обновлением посылок у контеста если посылки уже существовали, но были с не актуальной информацией.
        </td>
    </tr>

    <tr>
        <th>v1.3.0</th>
        <td>21.02.2024</td>
        <td>
            <ul>
                <li>добавлен метод для обновления всех посылок у определенного пользователя;</li>
                <li>добавлен пароль для метода работы с базой данных;</li>
                <li>добавлен метод для обновления тегов у задач;</li>
                <li>ETR-37: добавлен метод для обновление посылок отпределенного пользователя определенного контеста;</li>
                <li>ETR-48: улучшена безопасность;</li>
                <li>исправлены ошибки.</li>
            </ul>
        </td>
    </tr>

    <tr>
        <th>v1.2.0</th>
        <td>12.01.2024</td>
        <td>
            <ul>
                <li>Исправлена ошибка с обновлением попыток</li>
                <li>подправлена шапка сайта (пункт "Задачи" с большой буквы)</li>
                <li>добавлена возможность выполнять SQL запросы напрямую из документации для быстрого реагирования на возникающие проблемы</li>
            </ul>
        </td>
    </tr>

    <tr>
        <th>v1.1.0</th>
        <td>24.12.2023</td>
        <td>
            <ul>
                <li>исправлена ошибка (при обновлении отправок некоторых пользователей не обновляло);</li>
                <li>features/ETR-27 частично;</li>
                <li>features/ETR-26;</li>
                <li>features/ETR-25;</li>
                <li>добавлен метод для получения задач пользователя;</li>
                <li>добавлен метод для обновления тегов у задач;</li>
                <li>Добавлен метод для удаления контеста из БД;</li>
                <li>Добавлен метод для удаления юзера из БД (не рекомендуется использовать);</li>
                <li>Добавлен метод для получения контестов в которых участвовал конкретный юзер;</li>
                <li>исправлены ошибки;</li>
            </ul>
        </td>
    </tr>

    <tr>
        <th>v1.0.1</th>
        <td>11.12.2023</td>
        <td>
            исправлены ошибки.
        </td>
    </tr>

    <tr>
        <th>v1.0.0</th>
        <td>11.12.2023</td>
        <td>
            <ul>
                <li>Переход на FastAPI</li>
                <li>поменял значения по умолчанию для контестов</li>
                <li>появилась вкладка с всеми задачами в базе данных</li>
            </ul>
        </td>
    </tr>

    <tr>
        <th>v0.9.0</th>
        <td>03.12.2023</td>
        <td>
            <ul>
                <li>features/ETR-20</li>
                <li>bug/ETR-22</li>
                <li>features/ETR-23</li>
                <li>добавил выбор типа контеста (codeforces_contest, codeforces_gym)</li>
                <li>добавил метод PATCH /etr/api/contest/{contest_id}</li>
                <li>добавил новые поля в базу данных</li>
                <li>переделана форма добавления контеста (теперь нужна ссылка на контест)</li>
                <li>исправлена таблица результатов (те, у кого 0 отправок теперь не отображаются)</li>
                <li>обновление города пользователя с dl.gsu.by/codeforces</li>
                <li>исправлены ошибки</li>
            </ul>
        </td>
    </tr>

    <tr>
        <th>v0.8.2</th>
        <td>27.11.2023</td>
        <td>
            bug/ETR-21 - исправлена ошибка с отображением города, организации, класса в результатах контеста.
        </td>
    </tr>

    <tr>
        <th>v0.8.1</th>
        <td>27.11.2023</td>
        <td>
            <ul>
                <li>features/ETR-19</li>
                <li>bug/ETR-18</li>
                <li>features/ETR-17 исправил ошибку</li>
                <li>добавлена меню выбора отображения пользователя (по хендлу/фамилия имя)</li>
                <li>добавлен параметр в url тип баллов (по задачам/по баллам)</li>
                <li>добавлена ссылка на codeforces</li>
                <li>исправлены ошибки</li>
            </ul>
        </td>
    </tr>

    <tr>
        <th>v0.8.0</th>
        <td>26.11.2023</td>
        <td>
            <ul>
                <li>features/ETR-15</li>
                <li>features/ETR-17</li>
                <li>добавлено меню выбора типа отправки</li>
                <li>переделан механизм обновления отправок</li>
                <li>добавлены быстрые ссылки со списка всех контестов</li>
            </ul>
        </td>
    </tr>

    <tr>
        <th>v0.7.2</th>
        <td>19.11.2023</td>
        <td>
            bug/ETR-16 - исправлена проблема с командами.
        </td>
    </tr>

    <tr>
        <th>v0.7.1</th>
        <td>10.11.2023</td>
        <td>
            Исправлены визуальыне замечания.
        </td>
    </tr>

    <tr>
        <th>v0.7.0</th>
        <td>10.11.2023</td>
        <td>
            <ul>
                <li>добавлен столбец с количеством участников в списках контестов</li>
                <li>Добавлена кнопка синхронизации информации о пользователе с codeforces</li>
                <li>добавлены отдельные колонки для организации и класса в контетсте</li>
                <li>добавлена сумма баллов и решенных задач в контесте</li>
            </ul>
        </td>
    </tr>

    <tr>
        <th>v0.6.6</th>
        <td>09.11.2023</td>
        <td>
            добавлен механизм отправки подряд нескольких запросов если сервис не доступен.
        </td>
    </tr>

    <tr>
        <th>v0.6.5</th>
        <td>09.11.2023</td>
        <td>
            улучшен механизм обновления отправок.
        </td>
    </tr>

    <tr>
        <th>v0.6.4</th>
        <td>09.11.2023</td>
        <td>
            Добавлены логи.
        </td>
    </tr>

    <tr>
        <th>v0.6.3</th>
        <td>09.11.2023</td>
        <td>
            Исправлена ошибка работы с базой данных.
        </td>
    </tr>

    <tr>
        <th>v0.6.2</th>
        <td>09.11.2023</td>
        <td>
            Исправлена ошибка работы с базой данных.
        </td>
    </tr>

    <tr>
        <th>v0.6.1</th>
        <td>08.11.2023</td>
        <td>
            интерфейс переписан на русский.
        </td>
    </tr>

    <tr>
        <th>v0.6.0</th>
        <td>08.11.2023</td>
        <td>
            <ul>
                <li>убраны пустые строки из результата по контесту</li>
                <li>хендлы заменены на фамилию имя, организация, класс (если школьник)</li>
                <li>добавлено новое API</li>
                <li>добавлены номера строк</li>
                <li>переписан вывод некоторой информации</li>
                <li>рефакторинг кода</li>
            </ul>
        </td>
    </tr>

    <tr>
        <th>v0.5.1</th>
        <td>05.11.2023</td>
        <td>
            <ul>
                Добавлена обработка исключительной ситуации при добавлении нового полользователя.
            </ul>
        </td>
    </tr>

    <tr>
        <th>v0.5.0</th>
        <td>05.11.2023</td>
        <td>
            <ul>
                <li>убраны лишние поля для контеста</li>
                <li>из общего списка контестов появились ссылки на конкретные контесты</li>
                <li>добавлена синхронизация с dl.gsu.by/codeforces</li>
                <li>убраны ссылки на нереализованный функционал в шапке сайта</li>
                <li>добавлено новое API</li>
                <li>исправлены баги</li>
                <li>рефакторинг кода</li>
                <li>тесты</li>
            </ul>
        </td>
    </tr>

    <tr>
        <th>v0.4.1</th>
        <td>28.10.2023</td>
        <td>
            исправлен путь к статике сайта.
        </td>
    </tr>

    <tr>
        <th>v0.4.0</th>
        <td>28.10.2023</td>
        <td>
            <ul>
                <li>добавлен интерфейс с помощью bootstrap</li>
                <li>добавлена кнопка обновления результатов</li>
                <li>добавлена страница about</li>
                <li>добавлен сервисный слой</li>
                <li>рефакторинг кода</li>
                <li>покрыл код тестами</li>
                <li>исправлены баги</li>
            </ul>
        </td>
    </tr>

    <tr>
        <th>v0.3.0</th>
        <td>23.10.2023</td>
        <td>
            <ul>
                <li>Добавилась кнопка переключения вида результатов (по попыткам/по баллам).</li>
            </ul>
        </td>
    </tr>

    <tr>
        <th>v0.2.0</th>
        <td>22.10.2023</td>
        <td>
            <ul>
                <li>добавлена страница для отображения конкретного контеста</li>
                <li>выполнено ETR-2</li>
                <li>выполнено ETR-1</li>
                <li>добавлено API etr методы для Problem, User, Submission</li>
                <li>добавлена заглушка RPC</li>
                <li>написана библиотека для работы с API Codeforces</li>
                <li>добавлены методы для обновления данных</li>
                <li>рефакторинг кода</li>
                <li>добавлены тесты</li>
                <li>исправление ошибок</li>
            </ul>
        </td>
    </tr>

    <tr>
        <th>v0.1.1</th>
        <td>04.10.2023</td>
        <td>
            <ul>
                <li>добавлен параметр DATABASE_URL в .env файл</li>
                <li>добавлен глобальный префекс к URL</li>
                <li>рефакторинг кода</li>
            </ul>
        </td>
    </tr>

    <tr>
        <th>v0.1.0</th>
        <td>01.10.2023</td>
        <td>
            <ul>
                <li>Переименован проект 2BIWY -> etr</li>
                <li>минимально жизнеспособный продукт</li>
            </ul>
        </td>
    </tr>
</table>
{% endblock %}