{% extends "./base.html" %}

{% block title %}{{ contest.name }}{% endblock %}

{% block imports %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='contest_table.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}

{% block content %}
<h1>{{ contest.name }}</h1>
<div>
    {{ contest.type }}
    {% if contest.kind %}
    , {{ contest.kind }}
    {% endif%}
</div>
<div>
    duration: {{ contest.duration_time }}<br>
    start time: {{ contest.start_datatime }}<br>
</div>
{% if contest.website_url %}
<div>
    <a href="{{ contest.website_url }}">contest site</a>
</div>
{% endif %}
{% if contest.description %}
<div>
    <h2>Description</h2>
    {{ contest.description }}
</div>
{% endif %}

<br>
<button onclick="switch_view_cell()" class="btn btn-info">switch table view</button>
<button onclick="update_submission_send_request({{ contest.id }})" class="btn btn-info">update submission on db</button>
<br>

<table id="acm_result" class="table table-striped table-hover">
    <tr id="head_acm_result" class="table-info">
        <th>user</th>
    </tr>
</table>

<script>
    create_table({{ contest.id }})
</script>
{% endblock %}