{% extends "./base.html" %}

{% block title %}Contests list{% endblock %}
{% block imports %}
<script src="{{ url_for('static', filename='js/contest_api.js') }}"></script>
{% endblock %}
{% block content %}
<!-- TODO: rewrite to API requests -->
<div class="table-responsive">
    <table id="contests-table" class="table table-striped table-hover table-responsive">
        <thead class="table-dark">
            <tr>
                <th scope="col">номер</th>
                <th>название</th>
                <th>время</th>
            </tr>
        </thead>
        <tbody id="contests-table-body">
        </tbody>
    </table>
</div>
{% endblock %}
{% block footer %}
<script>
    show_contest_table()
</script>
{% endblock%}