{% extends "./base.html" %}

{% block title %}посылки{% endblock %}
{% block content %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr>
            <th>id</th>
            <th>handle</th>
            <th>id контеста</th>
            <th>creationTimeSeconds</th>
            <th>relativeTimeSeconds</th>
            <th>индекс</th>
            <th>язык программирования</th>
            <th>вердикт</th>
            <th>протестированные тесты</th>
            <th>время</th>
            <th>память</th>
            <th>баллы</th>
        </tr>
        {% for status in statuses %}
        <tr>
            <td>{{ status.id }}</td>
            {% if status.author.teamName %}
            <td>
                <a style="color: red;">{{ status.author.teamName }}</a>
                <sub>
                    {% for user in status.author.users %}
                    {{ user.handle }};
                    {% endfor %}
                </sub>
            </td>
            {% else %}
            <td>
                {{ status.author.handle }}
            </td>
            {% endif %}
            <td>{{ status.contestId }}</td>
            <td>{{ status.creationTimeSeconds }}</td>
            <td>{{ status.relativeTimeSeconds }}</td>
            <td>{{ status.problem.index }}. {{ status.problem.name }}</td>
            <td>{{ status.programmingLanguage }}</td>
            <td>{{ status.verdict }}</td>
            <td>{{ status.passedTestCount }}</td>
            <td>{{ status.timeConsumedMillis }}</td>
            <td>{{ status.memoryConsumedBytes }}</td>
            <td>{{ status.points }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}