{% extends "./base.html" %}

{% block title %}users{% endblock %}
{% block content %}
<table class="table table-striped table-hover">
    <tr>
        <th>handle</th>
        <th>email</th>
        <th>vkId</th>
        <th>openId</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>country</th>
        <th>city</th>
        <th>organization</th>
        <th>contribution</th>
        <th>rank</th>
        <th>rating</th>
        <th>maxRank</th>
        <th>maxRating</th>
        <th>friendOfCount</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{user.handle}}</td>
        <td>{{user.email}}</td>
        <td>{{user.vkId}}</td>
        <td>{{user.openId}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.country}}</td>
        <td>{{user.city}}</td>
        <td>{{user.organization}}</td>
        <td>{{user.contribution}}</td>
        <td>{{user.rank}}</td>
        <td>{{user.rating}}</td>
        <td>{{user.maxRank}}</td>
        <td>{{user.maxRating}}</td>
        <td>{{user.friendOfCount}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}